<div>

    {{#each beersFromApi}}
    <div>
        <img src={{image_url}}>
        <div>{{name}}</div>
        {{description}}
        {{tagline}}
        {{food_pairing}}
        {{brewers_tips}}
    </div>
    {{/each}}
</div>
</div>